.recent-container-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 20px;
  color: #444444;
}

.recent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 20px;
}

.recent-container-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 20px;
  color: #dadada;
}

.recent-item {
  line-height: 36px;
  font-size: 24px;
  padding: 8px;
  width: 100vw;
  text-align: center;
}

.recent-item:nth-child(odd){
  background: rgba(0, 0, 0, 0.487);
  width: 100vw;
  text-align: center;
  padding: 8px
}
